@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

:root {
    --primary-color: #F4F3EC;
    --secondary-color: #2B1E33;
    --color-1: #4AB970;
    --color-2: #28A6BA;
    --color-3: #F1C92F;
    --color-4: #F4972D;
    --color-5: #DD2846;
    --color-6: #C27ECD;
}

h0 {
    font-size: 4rem;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0.24rem;
    font-variation-settings:
      "wdth" 100;
}

h1 {
    color: var(--secondary-color);
    font-size: 3rem;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.15rem;
    font-variation-settings:
      "wdth" 100;
}

h2 {
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.24rem;
    font-variation-settings:
      "wdth" 100;
}

h3 {
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.09rem;
    font-variation-settings:
      "wdth" 100;
}

p {
    color: var(--secondary-color);
    font-size: 1rem;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 150%; 
    letter-spacing: 0.03rem;
    font-variation-settings:
      "wdth" 100;
}

button {
    background-color: var(--color-1) ;
    color: var(--secondary-color);
    
    position: relative;

    padding: 12px;
    border-radius: 12px;
    border-style: hidden;
    font-size: 1.5rem;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:      "wdth" 100;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    &::before{
        content: "";
        left: 0px;
        top: 0px;
        position: absolute;
        width: calc(100% - (2 * 5px));
        height: calc(100% - (2 * 5px));

        background-color: transparent;
        
        border-width: 5px;
        border-style: solid;
        border-color: var(--color-1);
        

        border-radius: inherit;
        -webkit-border-radius: inherit;
        -moz-border-radius: inherit;
        -ms-border-radius: inherit;
        -o-border-radius: inherit;

        transition: all .1s;
        -webkit-transition: all .1s;
        -moz-transition: all .1s;
        -ms-transition: all .1s;
        -o-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
}
    &:hover {
        border-color: var(--secondary-color);
        &::before{
            
            left: -10px;
            top: -10px;
            width: calc(100% + 10px);
            height: calc(100% + 10px);

            border-radius:20px;
            -webkit-border-radius:20px;
            -moz-border-radius:20px;
            -ms-border-radius:20px;
            -o-border-radius:20px;
        }
    }
    &:active {
        &::before{        
            left: -15px;
            top: -15px;
            width: calc(100% + 20px);
            height: calc(100% + 20px);

            border-radius:20px;
            -webkit-border-radius:20px;
            -moz-border-radius:20px;
            -ms-border-radius:20px;
            -o-border-radius:20px;
        }
    }
}
.not-displayed {
    display: none;
}

.overlay {
    position: absolute;
    
    width: 100%;
    height: 100%;

    background-color: var(--primary-color);
    &:not(.not-displayed) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .overlay-content-container {
        width: 100%;
        max-width: 1280px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        p {
          width: 250px;  
          text-align: center;
          padding:  0px 20px 0px 20px;
        }
    }
    #top-container {
        width: 100%;
        height: 28%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .top-text-container {

        }
        #handicap-timer-container {
            width: 100%;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            #progressbar {
                height: 100%;
                
                background-color: var(--secondary-color);
                transition: width 1s linear;
                -webkit-transition: width 1s linear;
                -moz-transition: width 1s linear;
                -ms-transition: width 1s linear;
                -o-transition: width 1s linear;
            }
        }
    }
    .middle-container {
        width: 100%;
        max-width: 1024px;
        height: 100%;
        
    }
    #button-container {

    
        display: flex;
        
        align-items: center;
        justify-content: space-evenly;
    }
    #bottom-container {
        width: 100%;
        height: 28%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
        #upgrade-progress-container {
            width: 100%;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            #upgradebar {
                height: 100%;
                width: 0%;
                
                background-color: var(--secondary-color);
                transition: width 1s linear;
                -webkit-transition: width 1s linear;
                -moz-transition: width 1s linear;
                -ms-transition: width 1s linear;
                -o-transition: width 1s linear;
            }
        }
    }
}

#start-screen {
    .middle-container {
        height: 512;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2rem;
        p {
            max-width: 512px;
        }
    }
}

#upgrade-screen {
    #top-container {
        justify-content: end;
    }
    .middle-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        
        #upgrade-container {
            
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 4rem;
            max-width: fit-content;
            width: 100%;
            height: fit-content;
            padding-top: 4rem;
            padding-bottom: 4rem;
            .upgrade-button {
                border-color: var(--secondary-color);
                border-width: 5px;
                border-style: solid;

                padding: 1rem;
                background-color: var(--primary-color);
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: left;
                gap: .5rem;
                border-radius: 0px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                -ms-border-radius: 0px;
                -o-border-radius: 0px;

                &::before {
                    
                    border-color: var(--secondary-color);    
                }
                &:hover {
                    &::before {
                        
                        border-radius: 0px;
                        border-color: var(--secondary-color);
                        -webkit-border-radius: 0px;
                        -moz-border-radius: 0px;
                        -ms-border-radius: 0px;
                        -o-border-radius: 0px;
}
                }
            }
        }
    }
    
}


#start-screen {
    z-index: 51;
}
#game-over-screen {
    z-index: 52
}
#handicap-screen {
    z-index: 53
}
#upgrade-screen {
    z-index: 54
}
#countdown-screen {
    z-index: 1
}
#play-screen {
    z-index: 2
}

#handicap-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 10;
    * {
        opacity: 0;
        transition: opacity 2s    ;
        -webkit-transition: opacity 2s    ;
        -moz-transition: opacity 2s    ;
        -ms-transition: opacity 2s    ;
        -o-transition: opacity 2s    ;
        .animate{
            opacity: 1;

        }
    }
}










